
# /
/gfx2.ini
/gfx2.cfg
/message.txt
/uploadwin.sh
/uploadsrc.sh
/stdout.txt
/stderr.txt
/*.bak
/obj
/googlecode_upload.py

# /share/grafx2/scripts/
/share/grafx2/scripts/*.bak

# /src/
/src/version.c
/src/*.bak
